{% load static %}
<form action="{% url 'trips-search' %}" method="post" class="search-form">
    {% csrf_token %}
    {% if request.method == 'POST'%}
        <input type="text" id="suggest1" name="suggest1" value="{{ suggest1 }}" required >
        <input type="text" id="suggest2" name="suggest2" value="{{ suggest2 }}" required >
        <input type="date" id="date" name="date" value="{{ date }}" required />
        <input type="number" step="1" min="1" max="8" id="space" name="space" value="{{ space }}" required />
    {% else %}
        <input type="text" id="suggest1" name="suggest1" placeholder="Откуда" required>
        <input type="text" id="suggest2" name="suggest2" placeholder="Куда" required>
        <input type="date" id="date" name="date" placeholder="Дата" required>
        <input type="number" step="1" min="1" max="8" value="1" id="space" name="space" placeholder="Количество мест" required>
    {% endif %}
        <button type="submit" class="cta-button">Найти поездку</button>
</form>