/* styles.css */

/* Глобальные стили */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Стили шапки */
header {
  background-color: #ff5722;
  padding: 20px;
}

.logo img {
  height: 50px;
}

.navigation-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.navigation-menu li {
  margin-left: 20px;
}

.navigation-menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Стили героя */
.hero {
  text-align: center;
  margin-top: 50px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
  color: #fff;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.search-form input[type="text"],
.search-form input[type="date"],
.search-form input[type="number"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
.cta-button {
  display: inline-block;
  background-color: #fff;
  color: #ff5722;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #f0f0f0;
  color: #ff5722;
}

/* Стили основного блока */
main {
  background-color: #f0f0f0;
  padding: 50px 0;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

.feature {
  text-align: center;
  margin: 20px;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.feature img {
  height: 120px;
  margin-bottom: 20px;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.feature p {
  font-size: 18px;
  color: #666;
}
/* Стили блока "Как это работает" */
.how-it-works {
  text-align: center;
  margin-top: 50px;
}

.how-it-works h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}

.how-it-works p {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

/* styles.css */

/* Глобальные стили (остаются без изменений) */

/* Стили подвала */
footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.footer-menu ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.footer-menu li {
  display: inline;
  margin-right: 10px;
}

.footer-menu a {
  text-decoration: none;
  color: #fff;
}

.footer-menu a:hover {
  text-decoration: underline;
}

/* Стили страницы с результатами поиска поездок */
.hero1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #333;
}

.search-heading {
  font-size: 36px;
  margin: 0;
  font-weight: bold;
  color: #ff8a65; /* Изменил цвет на менее яркий */
}

.search-results {
  display: flex;
  flex-direction: column; /* Изменил направление на вертикальное */
  align-items: center; /* Добавил выравнивание по центру */
  margin: 0 auto;
  max-width: 1200px;
}

.result {
  text-align: left; /* Изменил выравнивание текста на левый */
  margin: 10px 20px; /* Изменил отступ от верха карточки */
  padding: 20px;
  border-radius: 8px;
  width: 750px; /* Установил ширину карточки в 750px */
  height: 160px; /* Установил высоту карточки в 160px */
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s; /* Добавил анимацию изменения фона */
  overflow: hidden; /* Добавил свойство для скрытия текста, выходящего за границы */
  background-color: #fff; /* Установил фон карточки */
}

.result:hover {
  transform: translateY(-5px);
  background-color: #fafafa; /* Изменил фон при наведении на #fafafa */
}

.result a {
  text-decoration: none; /* Добавил для удаления подчеркивания */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.result-content {
  padding: 10px;
}

.result-title {
  font-size: 20px; /* Изменил размер шрифта заголовка */
  margin-bottom: 5px;
  font-weight: bold;
  text-decoration: none; /* Добавил для удаления подчеркивания */
  color: #333;
}

.result-info {
  font-size: 14px; /* Изменил размер шрифта информации */
  color: #666;
  margin-bottom: 5px; /* Уменьшил расстояние между строками */
  line-height: 1.2; /* Изменил значение для уменьшения расстояния между строками */
}

.bold-text {
  font-weight: bold;
}


/* Стили формы добавления поездки */

.add-trip-form {
  text-align: center;
  padding: 20px;
}

.add-trip-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.add-trip-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-trip-form .form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-trip-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.add-trip-form input[type="text"],
.add-trip-form input[type="date"],
.add-trip-form input[type="time"],
.add-trip-form input[type="number"],
.add-trip-form select {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-trip-form button {
  padding: 10px 20px;
  background-color: #ff8a65;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-trip-form button:hover {
  background-color: #ff7043;
}

/* Стили формы регистрации */
.registration-form {
  text-align: center;
  padding: 20px;
}

.registration-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.registration-form .form-wrapper {
  display: flex;
  justify-content: center;
}

.registration-form form {
  width: 400px;
  text-align: left;
}

.registration-form .form-group {
  margin-bottom: 20px;
}

.registration-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.registration-form button {
  padding: 12px 30px; /* Изменено */
  background-color: #ff8a65;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block; /* Добавлено */
  margin: 0 auto; /* Добавлено */
}

.registration-form button:hover {
  background-color: #ff7043;
}

/* styles.css */

/* Глобальные стили (остаются без изменений) */

/* Стили блока "О нас" */
.about-us {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.about-us-card {
  max-width: 800px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.about-us-card img {
  width: 100%;
  height: auto;
}

.about-us-content {
  padding: 20px;
}

.about-us h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.about-us p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.about-us p:last-child {
  margin-bottom: 0;
}

/* Стили блока "Контакты" */
.contact-us {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.contact-us-card {
  max-width: 800px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.contact-us-card img {
  width: 100%;
  height: auto;
}

.contact-us-content {
  padding: 20px;
}

.contact-us h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.contact-us p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.contact-us p:last-child {
  margin-bottom: 0;
}


/* Стили блока "Условия использования" */
.terms-of-use {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.terms-of-use-card {
  max-width: 800px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.terms-of-use-content {
  padding: 20px;
}

.terms-of-use h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.terms-of-use p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.terms-of-use p:last-child {
  margin-bottom: 0;
}


/* Стили блока "Политика конфиденциальности" */
.privacy-policy {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.privacy-policy-card {
  max-width: 800px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.privacy-policy-content {
  padding: 20px;
}

.privacy-policy h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.privacy-policy p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.privacy-policy p:last-child {
  margin-bottom: 0;
}

/* Стили карточки поездки */
.trip-card {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.trip-card-content {
  margin-bottom: 20px;
}

.trip-card h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.trip-card p {
  font-size: 18px;
  margin-bottom: 10px;
}

.trip-card-footer {
    display: flex;
    justify-content: space-between;
}

.trip-card-footer a {
    display: inline-block;
}


.trip-card-footer {
  text-align: center;
}

.trip-card .button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #ff5e5e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.trip-card .button:hover {
  background-color: #ff4343;
}
.trip-features {
  display: flex;
  margin-top: 10px;
}

.trip-feature-smoke,
.trip-feature-animals {
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 4px;
  color: #fff;
  background-color: #2196f3; /* Синий фон для плашек */
}

.trip-feature-smoke {
  margin-right: 10px;
}
/* стили карточки водителя при подробном просмотре поездки */

.driver-card {
  text-align: center;
  margin-bottom: 20px;
}

.driver-card h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}


.driver-avatar:hover {
  transform: scale(1.1);
}
.driver-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  transition: transform 0.3s;
}
/* стили пассажиров */

.passengers-card {
  text-align: center;
  margin-bottom: 20px;
}

.passengers-card h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.passenger-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.passenger {
  width: 100px;
  margin: 10px;
  text-align: center;
}

.driver {
  width: 100px;
  margin: 10px;
  text-align: center;
}

.driver-avatar,
.passenger-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s;
}


.passenger-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  transition: transform 0.3s;
}

.passenger-avatar:hover {
  transform: scale(1.1);
}

/* страница входа */


.login-form-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form-wrapper {
  display: flex;
  justify-content: center;
}

.login-form {
  width: 100%;
  max-width: 300px;
}

.login-form .form-group {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ff5e5e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button[type="submit"]:hover {
  background-color: #ff4343;
}


/* стили ошибок регистрации */
.error-messages {
  background-color: #ffcccc;
  padding: 10px;
  margin-bottom: 10px;
}

.error-messages ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: red;
}

.error-messages li {
  margin-bottom: 5px;
}
/* успешная регистрация */

.success-message {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.success-message h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.success-message p {
  margin-bottom: 20px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #ff5e5e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #ff4343;
}


/* стили профиля */
.profile {
  width: 450px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}


.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.preferences-card {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.preferences-card h4 {
  margin-top: 0;
  text-align: center;
  font-size: 20px;
}

.preferences-card h4 {
  margin-top: 0;
}

.preferences-card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.preferences-card li {
  margin-bottom: 10px;
}

.edit-profile {
  margin-top: 20px;
  text-align: center;
}

.edit-profile-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff8800;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
}

.edit-profile-button:hover {
  background-color: #e55d00;
}

/* страниа когда не вошли в профиль */

.profile-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  height: 300px;
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
}

.profile-message h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-btn {
  display: inline-block;
  padding: 10px 20px;
  width: 150px;
  margin: 0 10px; /* Увеличение расстояния между кнопками */
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff8800; /* Изменение цвета кнопок */
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.profile-btn:hover {
  background-color: #ff6600; /* Изменение цвета кнопок при наведении */
}
/* стили страницы редактирования профиля */

.profile-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.profile-card h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-card .profile-form {
  text-align: center;
}

.profile-card .form-group {
  margin-bottom: 20px;
}

.profile-card .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}


.profile-card .form-group input,
.profile-card .form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-card .save-btn {
  background-color: #ff8800;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.profile-card .save-btn:hover {
  background-color: #e07700;
}

/* стили старницы мои поездки */

.my-trips-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
}

h1.page-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.tabs {
  margin-bottom: 20px;

}

.tab-link {
  display: inline-block;
  padding: 12px 24px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.tab-link:hover {
  background-color: #f0f0f0;
}

.tab-link:active {
  background-color: #e0e0e0;

}

.tab-link.disabled {
  background-color: #e5e5e5;
  cursor: not-allowed;
}

.tab-link.active {
  background-color: #ff8800;
  color: #fff;
}

.tab {
  display: none;
  padding: 10px;
}

.tab.active {
  display: block;
}


.card {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  background-color: #f5f5f5;
  transform: translateY(-5px);
}

.card h2,
.card h3 {
  margin: 0;
  text-align: left;
}

.card-content {
  flex-grow: 1;
}

.cancelled {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 6px 12px;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
}

.in-progress {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 6px 12px;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
}

.completed {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 6px 12px;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
}

.bron {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 6px 12px;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
}


.completed {
  background-color: #ff8800; /* Оранжевый цвет */
}

.in-progress {
  background-color: #a0d8a0; /* Салатовый цвет (более насыщенный) */
}

.cancelled {
  background-color: #ff4500; /* Отмененный цвет */
}

.bron {
  background-color: #ffe066; /* Желтый цвет (более насыщенный) */
}

/* убираем подчеркивания и синий цвет со ссылки в моих поездках */
#booked a {
  text-decoration: none;
  color: inherit;
}
#created a {
  text-decoration: none;
  color: inherit;
}

/* карточка сообщения */

/* Стили для карточки сообщения */
.card1 {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px;
  transition: none; /* Удаление анимации при наведении */
}

/* Стили для заголовка карточки (имя отправителя) */
.card1-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

/* Стили для даты и времени */
.card1-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 3px;
}

/* Стили для текста сообщения */
.card1-text.message {
  font-size: 16px;
  color: #000;
  /* Ограничение высоты и добавление прокрутки, если сообщение слишком длинное */
  max-height: 100px;
  overflow: auto;
}

/* Удалите стили для контейнера сообщений */
#post-container {
  /* Никаких специальных стилей для контейнера */
}

/* Удалите стили для элемента с классом "col-md-4" */
/* Никаких специальных стилей для элементов */


/* Стили для класса my-message */
/* Стили для класса my-message */
.my-message {
    background-color: blue;
    color: white; /* Чтобы текст был виден на синем фоне */
    padding: 10px;
    margin-bottom: 5px;
}

/* Стили для класса not-my-message */
.message-other {
    background-color: yellow;
    color: black; /* Чтобы текст был виден на желтом фоне */
    padding: 10px;
    margin-bottom: 5px;
}

/* стили страницы мои сообщения */


.dialogs-container {
    max-width: 75%; /* Ограничим ширину блока диалогов до 3/4 страницы */
    margin: 0 auto; /* Центрируем блок диалогов по горизонтали */
}

.dialog-card {
    display: block;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #000; /* Изменяем цвет текста ссылок */
    transition: background-color 0.3s, box-shadow 0.3s; /* Добавляем анимацию перехода */
}

.dialog-card:hover {
    background-color: #e0e0e0; /* Изменяем цвет фона при наведении */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляем тень при наведении */
}

.dialog-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog-info h3 {
    font-size: 18px;
    font-weight: bold;
}

.unread-messages {
    font-size: 14px;
    color: #666;
}
