{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block head%}
{% include 'include/yandex_api_form.html' %}
{% endblock%}

{% block header %}
{% include 'include/search_form.html' %}
{% endblock %}

{% block main %}
<div class="privacy-policy">
      <div class="privacy-policy-card">
        <div class="privacy-policy-content">
          <h1>Политика конфиденциальности</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rutrum, tortor a laoreet iaculis, velit nisi aliquet est, a efficitur neque lacus sed neque. Sed euismod malesuada diam, nec euismod purus. Morbi ultrices, justo et sagittis pellentesque, lorem augue commodo ligula, non efficitur turpis dolor vitae sem.</p>
          <p>Nullam at augue eu est rutrum condimentum id a diam. Vivamus suscipit lorem in tortor tempus bibendum. Quisque mattis tristique eleifend. Nulla facilisi. Morbi non tellus lobortis, congue ex et, mattis turpis. Sed tempus ultricies lacus, et condimentum leo dictum vitae.</p>
          <p>Proin nec lacinia tortor, eu suscipit odio. Vestibulum vulputate, massa in posuere eleifend, metus justo feugiat erat, vel elementum mauris justo eu lacus. Nam volutpat venenatis mi. Suspendisse viverra purus et metus euismod, vel consequat enim dapibus. Sed ac metus dignissim, rhoncus elit in, feugiat tortor.</p>
        </div>
      </div>
    </div>
{% endblock%}
