{% extends 'base.html' %}

{% block title %}
Добавить поездку
{% endblock %}

{% block head%}
{% endblock%}

{% block header %}
{% endblock %}

{% block main %}
<div class="add-trip-form">
      <h1>Добавление поездки</h1>
      <form action="{% url 'add-trip' %}" method="post">
        {% csrf_token %}
        {% if request.method == 'POST'%}
          {% if not is_lucky %}
            <p>Что-то пошло не так, поездка не добавлена. Попробуйте ещё раз.</p>
          {% endif %}
          <div class="form-group">
            <label for="suggest1">Откуда:</label>
            <input type="text" id="suggest1" name="suggest1" value="{{ suggest1 }}" required>
            {% if not geo_from %}
            <p>Адрес не найден</p>
            {% endif %}
          </div>

        <div class="form-group">
          <label for="suggest2">Куда:</label>
          <input type="text" id="suggest2" name="suggest2" value="{{ suggest2 }}" required>
          {% if not geo_to %}
            <p>Адрес не найден</p>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="date">Дата:</label>
          <input type="date" id="date" name="date" value="{{ date }}" required>
        </div>

        <div class="form-group">
          <label for="time">Время:</label>
          <input type="time" id="time" name="time" value="{{ time }}" required>
        </div>

        <div class="form-group">
          <label for="seats">Свободные места:</label>
          <input type="number" step="1" min="1" max="8" value="1" id="seats" name="seats" value="{{ space }}" required>
        </div>

        <div class="form-group">
          <label for="can_smoke">Можно ли курить:</label>
          {{ form.can_smoke }}
        </div>

        <div class="form-group">
          <label for="with_animals">Можно ли с животными:</label>
          {{ form.with_animals }}
        </div>

        <button type="submit">Добавить поездку</button>
        {% else %}
        <div class="form-group">
          <label for="suggest1">Откуда:</label>
          <input type="text" id="suggest1" name="suggest1" required>
        </div>

        <div class="form-group">
          <label for="suggest2">Куда:</label>
          <input type="text" id="suggest2" name="suggest2" required>
        </div>
        <div class="form-group">
          <label for="date">Дата:</label>
          <input type="date" id="date" name="date" required>
        </div>

        <div class="form-group">
          <label for="time">Время:</label>
          <input type="time" id="time" name="time" required>
        </div>

        <div class="form-group">
          <label for="seats">Свободные места:</label>
          <input type="number" step="1" min="1" max="8" value="1" id="seats" name="seats" required>
        </div>

        <div class="form-group">
          <label for="can_smoke">Можно ли курить:</label>
          {{ form.can_smoke }}
        </div>

        <div class="form-group">
          <label for="with_animals">Можно ли с животными:</label>
          {{ form.with_animals }}
        </div>

        <button type="submit">Добавить поездку</button>
        {% endif %}
      </form>
    </div>
{% endblock%}

{% block js %}
{% include 'include/yandex_api_form.html' %}
{% endblock %}