{% extends 'base.html'%}
{% load static %}
{% block head %}
{% include 'include/yandex_api_form.html' %}
{% endblock %}

{% block title %}
{% if request.method == 'POST' %}
    {% if not is_lucky %}
        {{ error }}
    {% else %}
        Результаты поиска
    {% endif %}
{% else %}
    Поиск поездки
{% endif %}
{% endblock %}

{% block content %}
{% include 'include/search_form.html'%}
{% if request.method == 'POST' %}
    {% if not is_lucky %}
        <h1>{{ error }}</h1>
    {% else %}
        <h1>Результаты поиска:</h1>
        {% if is_search_had_result %}
            {% if not date_correct %}
                На эту дату поездок нет, посмотрите поездки на ближайшие даты:
                <br>
            {% endif %}
            {% for i in result %}
                {{ i }}
            {% endfor %}
        {% else %}
            Поездок пока нет...
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}