{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
Вход
{% endblock %}

{% block head%}
{% include 'include/yandex_api_form.html' %}
{% endblock%}


{% block header %}
{% include 'include/search_form.html' %}
{% endblock %}

{% block main %}
<div class="trip-card">
  <div class="trip-card-content">
    <h2>{{ trip }}</h2>
    <p>Дата: {{ trip.date }}</p>
    <p>Время: {{ trip.time }}</p>
    <p>Свободные места: {{ trip.empty_spaces }}</p>
     <div class="trip-features">
      <div class="trip-feature-smoke">{{ trip.can_smoke|smoke_tag }}</div>
      <div class="trip-feature-animals">{{ trip.with_animals|animals_tag }}</div>
    </div>
  </div>
  <div class="trip-card-footer">
      <a href="#">
      <button class="button">Забронировать поездку</button>
    </a>

  </div>

    <div class="driver-card">
    <h2>Водитель:</h2>
    <a href="#">
      <img class="driver-avatar" src="{{ trip.owner.profile_photo.url }}" alt="Фото водителя">
    </a>
    <p class="driver-name">{{ trip.owner.base_user.username }}</p>

<div class="passengers-card">
    <h2>Пассажиры:</h2>
    <div class="passenger-list">

      {% if has_passengers %}
        {% for profile in passengers_profiles %}
          <div class="passenger">
            <a href="#">
              <img class="passenger-avatar" src="{{ profile.profile_photo.url }}" alt="Аватар пассажира">
            </a>
            <p class="passenger-name">{{ profile.base_user.username }}</p>
          </div>
        {% endfor %}
      {% else %}
        <p>Пассажиров пока нет...</p>
      {% endif %}
      <!------------------------------------------>
    </div>
  </div>

</div>

{% endblock%}


