{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block head%}
{% include 'include/yandex_api_form.html' %}
{% endblock%}

{% block header %}
{% include 'include/search_form.html' %}
{% endblock %}

{% block main %}
    <div class="login-form">
      <h1>Вход</h1>
      <div class="form-wrapper">
        <form>
          <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
          </div>

          <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
          </div>

          <button type="submit">Войти</button>
        </form>
      </div>
    </div>
{% endblock%}