{% extends 'base.html' %}
{% block title %}
Мои сообщения
{% endblock %}

{% block head%}
{% include 'include/yandex_api_form.html' %}
{% endblock%}

{% block header %}
{% include 'include/search_form.html' %}
{% endblock %}

{% block main %}

    <div class="dialogs-container">
        {% for chat in my_chats %}
            <a href="{% url 'chat' chat.chat %}" class="dialog-card">
                <div class="dialog-info">
                    <h3>{{ chat.reciver.base_user.username }}</h3>
                    {% if chat.unread > 0 %}
                        <span class="unread-messages">{{ chat.unread }} непрочитанных сообщения</span>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock%}