{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block head%}
{% include 'include/yandex_api_form.html' %}
{% endblock%}

{% block header %}
{% include 'include/search_form.html' %}
{% endblock %}

{% block main %}
    <div class="registration-form">
      <h1>Регистрация</h1>
      <div class="form-wrapper">
        <form>
          <div class="form-group">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>
          </div>

          <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
          </div>

          <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
          </div>

          <div class="form-group">
            <label for="confirm-password">Подтверждение пароля:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
          </div>

          <button type="submit">Зарегистрироваться</button>
        </form>
      </div>
    </div>
{% endblock%}